.empty-events {
  padding: 100px 40px;
}

.event-count {
  @include set-position(10px, 10px);
  @include flex-centering();
  height:30px;
  width:30px;
  font-size:18px;
  line-height: 17px;
  color: $circleBorderGreen;
  border:1px solid $circleBorderGreen;
  border-radius: 50%;
}

.event-header {
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


  .label-container {
    padding: 10px 20px;

    input {
      opacity: .5;
      color: white;
      border-radius: $borderRadius;
      padding: 5px 15px;
      background-color: $colorBackgroundInput;

      &:focus {
        opacity: 1;
      }
    }
}

.primary-circle{
  @include create-circle($primaryCircleRadiusPx, true);
  @include flex-centering();
  position:absolute;
  background: rgba(0,0,0,.2);
  font-weight: 400;
  border: $circleBorderGreen 1px solid;
  color: white;
  
  h1{
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    color:white;
  }

  label {
    @include set-position(20px, 30px, null, 30px);
    color: white;
  }

  .event-time-ago {
    position: absolute;
    bottom: 10px;
    left: 60px;
    right: 60px;
    font-size: 11px;
  }

  img {
    @include set-position(0,0,0,0);
    width:100%;
    height:100%;
    z-index: -1;
    border-radius:50%;
    opacity: .7;
  }

  .peep-drag-targets {
    > div {
      @include flex-centering();
      padding: 10px;
      font-size: 16px;
    }

    div:first-child {
      @include set-position(0,50%,0,0);
      border-right: 1px dashed gray;
    }

    div:last-child {
      @include set-position(0,0,0,50%);
    }
  }
}

.peep-initials {
  @include flex-centering();
  width: 56px;
  height: 56px;
  color: white;
  overflow: hidden;
  border-radius: 50%;
  font-size: 22px;  
  line-height:24px;
  font-weight:100;
  text-transform: uppercase;
  text-shadow: 0 0 2px black;
  border: $circleBorderGreen 1px solid;
}

.orbit-circle{
  @include create-circle($orbitCircleRadiusPx, true);
  @include flex-centering();

  &.orbit-circle-bottom{
    $y-translate: #{$primaryCircleRadius + $orbitCircleRadius + $paddingPrimaryOrbit}px;
    @include transform(translate3d(0, $y-translate, 0) );
  }
  
  .orbit-circle-rotate-correction {
    @include set-position(0,0,0,0);
    @include flex-centering();
    border-radius: 50%;
  }

  .orbit-circle-content {
    @include set-position(0,0,0,0);
    @include flex-centering();
    overflow: hidden;
    border-radius: 50%;
    color: white;
    font-size: 12px;  
    line-height:14px;
    font-weight:600;
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
    border: $circleBorderGreen 1px solid;
    background: rgba(0,0,0,.5);
  
    &.selected {
      background-color: #ccc;
    }
    i.icon {
      font-size: 25px;
    }

    img {
      position:absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto; 
      min-height: 100%;
      min-width: 100%;
      z-index: -1;
      border-radius:50%;
      opacity: 0.7;
    }

    &.initials {
      font-size: 22px;  
      line-height:24px;
      font-weight:400;
      text-transform: uppercase;
      text-shadow: 0 0 2px black;
    }
  }
}

.option-selection {
  .scroll-content {
    background: $colorBackground;
  }

  .item {
    border-color: $colorBorder;
  }

  .item-input {
    padding: 10px 20px;

    input {
      color: white;
      border-radius: $borderRadius;
      padding: 5px 15px;
      background-color: $colorBackgroundInput;
    }
  }

  .bar.bar-header {
    background-color: $colorBorder;
    background-image: none;
    
    .button-left {
      @include set-position(0,null,0,0);
      width: 30px;
      height: initial;
      border-radius: 0;
    }

    .button-right {
      @include set-position(0,0,0);
      height: initial;
      border-radius: 0;
    }
  }

  .item-peep {
    @include display(flex);
    @include align-items(center);

    .peep-initials {
      @include flex-shrink(0);
      width: 40px;
      height: 40px;
      font-size: 18px;
      font-weight: 400;
    }

    h2 {
      word-wrap: normal;
      white-space: normal;
      margin-right: 10px;
    }

    .button {
      @include flex-shrink(0);
      padding: 5px;
      height: auto;
      line-height: 14px;
      font-size: 12px;
      margin-left: auto;
    }

    .button:last-child {
      margin-left: 10px;
    }
  }
}

.action-button{
  @include create-circle($actionBtnRadiusPx, false);
  @include set-position(null, calc(50% - #{$actionBtnRadiusPx}), 20px, null, fixed);
  background: rgba(0,0,0,.5);
  border: 1px solid $circleBorderGreen;
  color: white;
  font-size:54px;
  font-weight:300;
  
  &:before{
    @include set-position(0,0,0,0);
    @include flex-centering();
    content:"+";
    line-height: $actionBtnRadiusPx * 2;
    margin-top: -2px;
    margin-right: -2px;
  }

  &.delete-action:before{
    content: "x";
    font-size: 30px;
  }
}

@include create-orbit-circle-classes();

.item-image {
  height: 40px;
  width: 40px;
  
  img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
  }
}

.slider-pager {
  bottom: 5px;

  .slider-pager-page {
    display: inline-block;
    margin: 0 5px;
    height: 5px;
    width: 5px;
    border: 1px solid $circleBorderGreen;
    border-radius: 50%;
    opacity: 1;
    
    &.active {
      background: $circleBorderGreen;
      opacity: 1;
    }

    i {
      display:none;
    }
  }
}

.orbit-circle-content[class*='event-']{
  &:before{
    @include icon();
    @include set-position(0,0,0,0);
    @include flex-centering();
    font-size: 40px;
    z-index: -1;
    opacity: .5;
    text-shadow: none;
  }
}

.orbit-circle-content.event-music{
  background-color: rgba($colorMusic, .3);
  &:before{
    content: "\f1b6";
  }
}
.orbit-circle-content.event-movie{
  background-color: rgba($colorMovie, .3);
  &:before{
    content: "\f18f";
  }
}
.orbit-circle-content.event-drinks{
  background-color: rgba($colorDrinks, .3);
  &:before{
    content: "\f26a";
  }
}
.orbit-circle-content.event-food{
  background-color: rgba($colorFood, .3);
  &:before{
    content: "\f2a8";
  }
}
.orbit-circle-content.event-dancing{
  background-color: rgba($colorDancing, .3);
  &:before{
    content: "\f15b";
  }
}
.orbit-circle-content.event-outdoors{
  background-color: rgba($colorOutdoors, .5);
  &:before{
    content: "\f1bc";
  }
}
.orbit-circle-content.event-chillin{
  background-color: rgba($colorChillin, .3);
  &:before{
    content: "\f2b6";
  }
}