body {
  position: absolute;
  top: 20px;
  font-family: 'Avenir Next', sans-serif;
  height: calc(100% - 20px);
  background-color: $colorBackground;
  color: $colorFont;

  p {
    color: $colorFont;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin:0;
  color: $colorFontHeader;
  font-family: 'Avenir Next', sans-serif;
}

h1 {
  font-weight: 600;
}

//stupid height hacks that I shouldn't have to do...
.main-view,
.slider{
  height: 100%;
}

.event-slider {

  &:before {
    @include set-position(0,0,0,0);
    content: '';
    background: url('/images/blackground1.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: .7;
  }
  
}

.item {
  background: none;
}

.item-avatar > img:first-child {
  border-radius: 50%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.button.button-petri {
  border-color: $colorButtonBorder;
  background-color: $colorButton;
  color: white;

  &.button-outline {
    background: transparent;
  }
}
