.login-content,
.onboarding-content{ 
  background-color: $colorBackground;

  .item {
    border:none;
  }
}

.hrule {
  border-top: 1px solid $colorBackgroundInput;
  margin: 20px -20px;
}
  
.login-form {
  padding: 30px;
}

label.item-input {
  border-radius: $borderRadius;
  border: none;
  background-color: $colorBackgroundInput;
  margin-bottom: 15px;
  padding: 3px 0 3px 8px;

  .input-label {
    color: #aaa;
  }

  input {
    color: white;
    background-color: $colorBackgroundInput;
  }

}


.button {
  height: 40px;
  min-height: 40px;
  line-height: 38px;
  border-radius: $borderRadius;
}