// COLOR PALLETE //
$neonGreen: #2BFEC3;
$neonYellow: #FDFD40;

$colorBackground: #000;
$colorBackgroundInput: #505050;
$colorBorder: #222;

$colorButton: #2B5C5C;
$colorButtonBorder: #1F4949;

$colorFont: #999;
$colorFontHeader: $colorFont;


$borderRadius: 3px;


$primaryCircleRadiusPx: 95px;
$primaryCircleRadius: 95;
$orbitCircleRadiusPx: 28px;
$orbitCircleRadius: 28;
$paddingPrimaryOrbit: 5;
$paddingOrbitOrbit: 3;

$circleBorderGreen: $neonGreen;
$colorHomepage: $neonYellow;

$actionBtnRadiusPx: 28px;

$colorMusic: #A25694;
$colorMovie: #BFB391;
$colorDrinks: #D55B6A;
$colorFood: #8EDDCB;
$colorDancing: #E89069;
$colorOutdoors: #E5E796;
$colorChillin: #13B5E2;

$colorLoadingDots: $neonGreen;