$colorBackground: #000000;
$colorBackgroundInput: rgba(255,255,255, .2);
$colorBorder: #222;

$primaryCircleRadiusPx: 95px;
$primaryCircleRadius: 95;
$orbitCircleRadiusPx: 28px;
$orbitCircleRadius: 28;
$paddingPrimaryOrbit: 5;
$paddingOrbitOrbit: 3;

$actionBtnRadiusPx: 28px;