<ion-slide-box class="event-slider" show-pager="true" on-slide-changed="slideHasChanged($index)" active-slide="activeSlide" ng-class="{'homepage-slide':activeSlide === 1}">
  
  <ion-slide>
    <h1 class="event-header">{{user.firstName}} {{user.lastName}}</h1>
    <p class="text-center">(settings placeholder)</p>
    <div class="orbit-circle-container contains-3-orbit-circles">
      <div class="orbit-circle">
        <div class="orbit-circle-rotate-correction">
          <div class="orbit-circle-content">
            Name
          </div>
        </div>
      </div>
      <div class="orbit-circle">
        <div class="orbit-circle-rotate-correction">
          <div class="orbit-circle-content">
            Picture
          </div>
        </div>
      </div>
      <div class="orbit-circle">
        <div class="orbit-circle-rotate-correction">
          <div class="orbit-circle-content">
            Phone Number
          </div>
        </div>
      </div>
    </div>
    <div class="primary-circle">
    </div>
    <div class="orbit-circle orbit-circle-bottom" hm-tap="logout()">
      Log Out
    </div>
  </ion-slide>

  <ion-slide>
    <a href="#/logs" class="logs-label">logs</a>
    <div class="event-count">{{getNumberOfEvents()}}</div>
  </ion-slide>

  <ion-slide ng-repeat="event in events | orderByKey: 'key':true">
    
    <h1 class="event-header">{{event.location.name}}</h1>
    
    <div class="label-container">
      <input ng-if="getUserOnEvent(event) && !selectedPeep" type="text" class="label-input" ng-model="getUserOnEvent(event).label" placeholder="Add your label">
      <p class="text-center" ng-if="selectedPeep && selectedPeep.label">"{{selectedPeep.label}}"</p>
      <p class="text-center" ng-if="selectedPeep && !selectedPeep.label">{{selectedPeep.name.firstName}} has no label</p>
    </div>

    <div class="orbit-circle-container contains-{{event.peeps.length}}-orbit-circles">
      <div class="orbit-circle" 
           ng-repeat="peep in event.peeps"
           hm-dragstart="dragStart($event)"
           hm-drag="draggingOption($event)"
           hm-dragend="maybeSelectOption($event, peep)">
        <div class="orbit-circle-rotate-correction">
          <div class="orbit-circle-content" ng-class="{'initials':!peep.photoUrl}">
            {{peep.name.initials}}
            <img ng-if="peep.photoUrl" ng-src="{{peep.photoUrl}}">
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!selectedPeep" class="primary-circle" hm-tap="getDirections(event)">
      <label>{{getDistanceAway(event)}}</label>
      <h1>{{event.type}}</h1>
      <span class="event-time-ago">{{getTimeAgo(event.key)}}</span>
      <img ng-if="event.location.photoUrl" ng-src="{{event.location.photoUrl}}" class="event-location-photo">
    </div>
    <div ng-if="selectedPeep" class="primary-circle" hm-tap="resetSelectedPeep()">
      <h2>{{selectedPeep.name.fullName}}</h1>
      <span class="event-time-ago">joined {{getTimeAgo(selectedPeep.joinTime)}}</span>
    </div>

<!--     <div class="orbit-circle orbit-circle-bottom" ng-if="!createdEvent()" hm-hold="deleteEvent()">
      <div class="orbit-circle-content">
        Delete
      </div>
    </div> -->

    <div hm-tap="editSheet(event)" class="orbit-circle orbit-circle-bottom orbit-circle-no-container">
      <div class="orbit-circle-rotate-correction">
          <div class="orbit-circle-content">
            <i class="icon ion-ios-personadd-outline"></i>
            <i class="icon ion-ios-trash-outline" ng-if="createdEvent()"></i>
          </div>
      </div>
    </div>
  </ion-slide>

</ion-slide-box>

<div hm-tap="newEvent()" 
     hm-dragstart="dragStartActionBtn($event)"
     hm-drag="draggingOption($event)"
     hm-dragend="maybeSelectOption($event, peep, 'join')"
     class="action-button" 
     ng-class="{'homepage-slide':activeSlide === 1}">
</div>