<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
  
  <ion-slide ng-repeat="(time, event) in events">
    <div class="orbit-circle-container contains-{{event.peeps.length}}-orbit-circles">
      <div class="orbit-circle" ng-repeat="peep in event.peeps" ng-click="clickPeep(peep)">
        <span class="orbit-circle-content">{{peep.name}}</span>
      </div>
    </div>
    <div class="primary-circle">
      <label>{{getLabel(event.type)}}</label>
      <h2>{{event.location.name}}</h2>
      <span class="event-time-ago">{{getTimeAgo(time)}}</span>
      <img ng-if="event.location.photoUrl" ng-src="{{event.location.photoUrl}}" class="event-location-photo">
    </div>
  </ion-slide>

</ion-slide-box>
<div ng-click="newEvent()" class="action-button"></div>