<ion-content scroll="false" class="login-content">
  <div class="item item-text-wrap text-center padding">
		<h1 class="padding">PETRI</h1>
		<div class="padding">
			<div ng-if="!passwordReset.show">beware, this is an alpha prototype</div>
			<div ng-if="loginError" class="assertive padding">
		  	{{loginError}}
		  </div>
		  <div ng-if="passwordReset.show" class="padding">
		  	<button ng-if="!passwordReset.success" ng-disabled="!loginForm.email.$valid" ng-click="sendPasswordReset()" class="button button-clear button-stable">Email password reset instructions.</button>
		  	<div ng-if="passwordReset.success">Check your email for password reset instructions. 
		  	</div>
		  </div>
		</div>
	</div>

  <form name="loginForm" class="list login-form" ng-hide="user" >
		
	  <label class="item item-input" ng-class="{'input-error': !loginForm.email.$valid}">
	    <span class="input-label">Email</span>
	    <input ng-model="login.email" type="email" name="email" required>
	  </label>
	  <label class="item item-input" ng-class="{'input-error': !loginForm.password.$valid}">
	    <span class="input-label">Password</span>
	    <input ng-model="login.password" type="password" name="password" required>
	  </label>
		
		<button type="submit" ng-disabled="!loginForm.$valid" class="button button-block button-petri" ng-click="createUser()">Register</button>
		
		<div class="hrule"></div>

	  <button type="submit" ng-disabled="!loginForm.$valid" class="button button-outline button-block button-petri" ng-click="login()">Login</button>

	</form>

	<button type="submit" ng-show="user" class="button button-outline button-block button-petri" ng-click="logout()">Log Out</button>

</ion-content>