<div class="orbit-circle-container contains-{{step.numOrbitCircles}}-orbit-circles">
	<div class="orbit-circle" 
  ng-repeat="option in step.options | limitTo:10"
  hm-dragstart="dragStart($event)"
  hm-drag="draggingOption($event)"
  hm-dragend="maybeSelectOption($event, step.num, option)"
  hm-tap="hint($event)"
  ng-class="{'selected': option.isSelected}">
    <div class="orbit-circle-rotate-correction">
      <div class="orbit-circle-content {{option.class}}">
        {{getName(option)}}
        <img ng-if="option.photoUrl" ng-src="{{option.photoUrl}}">
      </div>
    </div>
	</div>
	<div ng-if="step.num != 1" ng-click="showMoreOptions(step.num)" class="orbit-circle">
    <div class="orbit-circle-rotate-correction">
      <div class="orbit-circle-content">
        <i class="icon ion-ios7-search-strong"></i>
      </div> 
    </div>
  </div>
</div>
<div class="primary-circle" loading="loading"></div>
<div ng-if="!loading "class="primary-circle">
  <h2 ng-if="!peepDragging.status">{{step.text}}</h2>
	<div ng-if="peepDragging.status" class="peep-drag-targets">
    <div>
      {{peepDragging.name}} is with you
    </div>
    <div>
      Invite {{peepDragging.name}}
    </div>
  </div>
</div>
<div ng-if="step.num !== 3" class="orbit-circle orbit-circle-bottom" ng-click="cancel()" ng-disabled="loading">
  Cancel
</div>
<div ng-if="step.num === 3" class="orbit-circle orbit-circle-bottom" ng-click="done()" ng-disabled="loading">
  <div class="orbit-circle-content">
	  Done
  </div>
</div>

<div ng-if="moreOptions.show">
  <ion-popover-view class="option-selection">
    <ion-header-bar>
    	<button class="button button-left button-petri" ng-click="moreOptionsClose()">x</button>
      <h1 class="title">{{moreOptions.title}}</h1>
      <button class="button button-right button-petri" ng-if="step.num == 3" ng-click="done()">Done</button>
    </ion-header-bar>
    <ion-content>
    	<!-- Locations List -->
      <ion-list ng-if="step.num == 2">
      	<ion-item class="item item-input">
				  <input type="text" placeholder="Find or create a location" ng-model="moreOptions.locationFilter" class="location-filter">
      	</ion-item>
      	<ion-item ng-repeat="item in moreOptions.options | filter:moreOptions.locationFilter" ng-click="selectOption(step.num, item)" class="item-avatar">
					<div class="item-image">
            <img ng-if="item.photoUrl" ng-src="{{item.photoUrl}}">
          </div>
      		<h2>{{item.name}}</h2>
          <span class="item-note">{{item.tempDistAway}}</span>
      		<p>{{item.location.address}}</p>
      	</ion-item>

        <a ng-if="moreOptions.locationFilter" class="item item-icon-left" href="" ng-click="selectOption(step.num, moreOptions.locationFilter)">
          <i class="icon ion-navigate"></i>
          Create "{{moreOptions.locationFilter}}"
        </a>

      </ion-list>
			
			<!-- People List -->
      <ion-list ng-if="step.num == 3">
      	<ion-item class="item item-input">
				  <input type="text" placeholder="Start typing to search" ng-model="moreOptions.peepsFilter" class="peeps-filter">
      	</ion-item>
      	<ion-item ng-if="moreOptions.peepsFilter.length > 1" ng-repeat="item in moreOptions.options | filter:moreOptions.peepsFilter" class="item-avatar item-peep">
          <div class="item-image">
            <img ng-if="item.photoUrl" ng-src="{{item.photoUrl}}">
            <div ng-if="!item.photoUrl" class="peep-initials">
              {{item.name.initials}}
            </div>
      		</div>
          <h2 ng-if="item.name.fullName">{{item.name.fullName}}</h2>
          <h2 ng-if="!item.name.fullName">{{item.name.firstName}}</h2>
          <button ng-click="selectOption(step.num, item)" 
                  ng-class="{'button-outline':!item.isSelected}"
                  class="button button-petri">
            There
          </button>
          <button ng-click="selectOption(step.num, item, true)" 
                  ng-class="{'button-outline':!item.isInvited}"
                  class="button button-petri">
            Invite
          </button>
      	</ion-item>
      </ion-list>

    </ion-content>
  </ion-popover-view>
</div>