<div ng-hide="step.num === 0 || step.num === 5" class="bar bar-header">
  <h1 class="title">{{step.title}}</h1>
</div>

<ion-content ng-switch="step.num" scroll="false" class="has-header list">
	
	<div ng-switch-when="0" class="onboarding-loader">
			<div loading="true"></div>
			<div class="padding text-center">
				<h3>{{step.title}}</h3>
			</div>
	</div>

	<form ng-switch-when="1" name="phoneForm">
		<div class="padding text-center">
			<h4 class="padding">
				Please verify your phone number so that we know you're a real person!
			</h4>
		  <p>
				Your phone number is <em>never</em> shared with anyone. 
			</p>
		</div>

	  <label class="item item-input">
	    <span class="input-label">Number</span>
	    <input ng-model="newUser.tel" type="tel" name="tel" required>
	  </label>

		<button type="submit" 
			ng-disabled="!validTel(newUser.tel) || confirmCode.loading" 
			class="button button-full button-royal" 
			ng-click="sendConfirm(newUser.tel)">
			<span ng-if="!confirmCode.sent">Send </span>
			<span ng-if="confirmCode.sent">Resend </span>
			Confirmation Text
		</button>
	</form>

	<form ng-switch-when="2" name="phoneForm">
		
		<div class="padding text-center">
			<h4 class="padding">
				Check your text messages for your confirmation code
			</h4>
		  <p ng-if="confirmCode.error" class="assertive padding">
				{{confirmCode.error}}
			</p>
		</div>

		<label class="item item-input">
	    <span class="input-label">Confirm Code</span>
	    <input ng-model="newUser.confirmCode" type="tel" name="tel" required>
	  </label>

		<button type="submit" class="button button-full button-royal" ng-click="addTel(newUser.confirmCode)">
			Confirm Phone Number
		</button>

		<button class="button button-clear button-positive" ng-click="goToStep(1)">
		  re-enter phone number
		</button>

	</form>

	<form ng-switch-when="3" class="onboarding-form" name="contactsForm">
		<div class="padding text-center" >
			<h4 class="padding">
				Sup uses the phone numbers in your address book to help you find your friends.
			</h4>
		  <p>
				Only friends who have your phone number will be able to find you in Sup.
			</p>
			<p>
				We won't spam or auto-add your friends.
			</p>
			<p>
				Read our <a href="" ng-click="openPrivacyPolicy()">Privacy Policy</a> to learn more.
			</p>
		</div>
	
		<button type="submit" ng-disabled="loading" class="button button-full button-royal" ng-click="addContacts()">
			Find Friends
		</button>

	</form>

	<form ng-switch-when="4" name="contactsForm">
		<div class="padding text-center">
			<h4 ng-if="currentUser.firstName"class="padding">
				Finally, make sure your name is correct
			</h4>
			<h4 ng-if="!currentUser.firstName"class="padding">
				Finally, set your name
			</h4>
		  <p>
				Remember, this is how friends will find you in Sup.
			</p>
		</div>
		<label class="item item-input">
    	<span class="input-label">First Name</span>
    	<input ng-model="currentUser.firstName" type="text" name="firstName" required>
  	</label>
  	<label class="item item-input">
    	<span class="input-label">Last Name</span>
    	<input ng-model="currentUser.lastName" type="text" name="lastName" required>
  	</label>

		<button type="submit" class="button button-full button-royal" ng-click="saveName()">Finished!</button>

	</form>

		<div ng-switch-when="5" class="onboarding-loader">
			<div loading="true"></div>
			<div class="padding text-center">
				<h3>Loading Friends</h3>
				<p>
					(this will take a few seconds)
				</p>
				<div class="progress-bar" ng-class="{'twenty-second':startProgressBar}"></div>
			</div>
	</div>

</ion-content>